.menuthread,
.threadtop,
.threadbottom {
  display: flex;
  width: 100%;
}
.threadtop,
.threadbottom {
  justify-content: space-between;
  align-items: center;
}
.threadtitle,
.threadcatname {
  color: white;
}
.threadtitle,
.threadcatname,
.threadtoptext {
  margin: 0px;
}
.menuthread {
  flex-direction: column;
}
.menuthread:hover {
  background-color: #303030 !important;
}
.threadtoptext {
  color: #aca9a9;
  font-size: 13px;
}
.threadicons {
  color: #aca9a9 !important;
  font-size: 13px !important;
  margin-left: 5px;
  margin-right: 2px;
}
.threadtitle {
  font-size: 16px;
  word-break: break-word;
  line-height: 20px;
  max-height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 30px;
  text-align: left;
}
.threadcatbtn {
  border-radius: 15px !important;
  text-transform: none !important;
  margin: 0px !important;
  padding: 0px !important;
}
.threadcatname {
  font-size: 12px;
  padding: 0px;
}
.threadtop {
  height: 35px;
}
.threadbottom {
  margin-bottom: 10px;
  text-transform: none;
}
