*::-webkit-scrollbar {
  width: 9px;
}
*::-webkit-scrollbar-track {
  background: #151515;
}
*::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 10px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: #404040 #151515;
}
body * {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Tahoma, Geneva, Verdana,
    sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a,
a:visited,
a:hover,
a:active {
  color: #3498db;
}
.conversation *::selection {
  background: #fbc308;
  color: black;
}
.catlink a,
.catlink a:visited,
.catlink a:active {
  color: white;
}
.catlink a:hover {
  color: #fbc308;
  will-change: color;
}
.votearrow svg:hover,
.close svg:hover {
  color: white;
  will-change: color;
}
.cuserlink:active {
  text-decoration: none;
}
.cuserlink:hover {
  text-decoration: underline;
}
.TextField-without-border-radius fieldset {
  border-radius: 0;
}
.svgwhite {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}
.novmargin {
  margin-top: 0;
  margin-bottom: 0;
}
.nohmargin {
  margin-left: 0;
  margin-right: 0;
}
.novpadding {
  padding-top: 0;
  padding-bottom: 0;
}
.nohpadding {
  padding-left: 0;
  padding-right: 0;
}
