.novmargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.nohmargin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.novpadding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.nohpadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.nomargin {
  margin: 0 !important;
}
.nopadding {
  padding: 0 !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.m20 {
  margin: 20px;
}
.m5-force {
  margin: 5px !important;
}
.m10-force {
  margin: 10px !important;
}
.m20-force {
  margin: 20px !important;
}
.fullwidth {
  width: 100%;
}
.halfwidth {
  width: 50%;
}
.fullheight {
  height: 100%;
}
.halfheight {
  height: 50%;
}
.notextdecoration {
  text-decoration: none !important;
}
.notexttransform {
  text-transform: none !important;
}
.flex {
  display: flex;
}
.flex-dir-column {
  flex-direction: column;
}
.display-none {
  display: none;
}
.icon-white-onhover:hover {
  color: white !important;
}
.justify-center {
  justify-content: center;
}
.justify-left {
  justify-content: left;
}
.justify-flex-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}
.justify-space-between {
  justify-content: space-between;
}
.overflow-hidden {
  overflow: hidden;
}
.text-overflow-ellipsis {
  text-overflow: ellipsis;
}
.nowrap {
  white-space: nowrap;
}
.white {
  color: white;
}
.force-white {
  color: white !important;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.min-height-fullvh {
  min-height: 100vh;
}
.min-height-full {
  min-height: 100%;
}
.max-width-full {
  max-width: 100%;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
