.novmargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.nohmargin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.novpadding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.nohpadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.nomargin {
  margin: 0 !important;
}
.nopadding {
  padding: 0 !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.fullwidth {
  width: 100%;
}
.fullheight {
  height: 100%;
}
.notextdecoration {
  text-decoration: none;
}
.notexttransform {
  text-transform: none;
}
.flex {
  display: flex;
}
.icon-white-onhover svg:hover {
  color: white !important;
  will-change: color;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
